*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face{
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins-ExtraBold.ttf);
    font-weight: bolder;
    font-style: normal;
}

@font-face{
    font-family: "Poppins-Bold-Italic";
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
    font-weight: bolder;
    font-style: italic;
}

html{
    font-family: "Poppins";
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: hsl(0, 0%, 86%);
}

main{
    display: flex;
    flex-direction: column;
    min-width: 640px;
    padding: 1.5em;
    border-radius: 10px 10px 30% 10px;
    background-color: white;
    margin: 1em;
    flex-wrap: wrap;
    overflow: auto;
}

.wrapper{
    overflow: hidden;
}

.date-container{
    font-size: 1.2rem;
    display: flex;
    min-width: 640px;
}

.date-container>div>p{
    color: hsl(0, 1%, 44%);
}

.date-container>div>#dayInput-p-error-state, #monthInput-p-error-state, #yearInput-p-error-state{
    color: hsl(0, 100%, 67%);   
    font-style: italic;
    display: none;
    font-size: .9rem;
}

.input-container{
    margin: 1rem;
}

input[type=number]{
    font-family: "Poppins";
    font-size: 1.6rem;
    width: 6em;
    padding: .5em;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border-radius: 5px;
    border: 1px solid hsl(0, 1%, 44%);
    margin: 1rem 2rem 1rem 0;
    outline: none;
    caret-color: hsl(259, 100%, 65%);
}

input[type=number]:focus{
    border: 1px solid hsl(259, 100%, 65%);
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button{
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    padding: 1em;
    border: none;
}

button:hover{
    cursor: pointer;
    background-color: hsl(259, 98%, 58%);
    transition: ease-in .2s;
}

button:active{
    cursor: pointer;
    background-color: black;
    transition: ease-in .2s;
}

.age-calculated-container{
    margin: 1rem;
    font-size: 4rem;
    font-weight: bolder;
    font-style: italic;
}

.age-calculated-container>p>span{
    color: hsl(259, 100%, 65%);
    font-style: italic;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* CSS rules for screens between 768px and 1024px */
    
}

@media screen and (max-width: 680px) {
    /* CSS rules for small screens go here */
    main{
        min-width: 480px;
        overflow: hidden;
    }

    .date-container{
        min-width: 480px;
    }

    .input[type=number]{
        margin: .5rem;
        width: 3em;
    }
    .button{
        display: flex;  
        justify-self: center;
        align-items: center;
    }
}

@media screen and (min-width: 479px) and (max-width: 620px) {
    main {
        min-width: auto; /* Remove the minimum width */
        padding: 1em; /* Adjust padding as needed */
        border-radius: 10px 10px 30% 10px;
        overflow-x: hidden; /* Hide horizontal overflow */
    }

    .date-container {
        flex-direction: row; /* Keep the date inputs in a row */
        justify-content: space-between; /* Distribute the input containers horizontally */
    }

    .input-container {
        margin: 0.5rem; /* Reduce the margin around the input containers */
        flex-grow: 1; /* Make the input containers take up available space */
    }

    input[type=number] {
        margin: 0.5rem 0rem; /* Adjust the margin for the number inputs */
        width: calc(100% - 3.5em); /* Set the width to take up all available space with some padding */
        font-size: 1.2rem; /* Adjust the font size for the input boxes */
    }

    .age-calculated-container {
        font-size: 2.5rem; /* Adjust font size as needed */
    }

    .age-calculated-container > p > span {
        font-size: 3rem; /* Adjust font size for the spans */
    }
}

@media screen and (max-width: 480px) {
    /* Add your CSS rules for small phone screens here */
    main {
      min-width: auto; /* Remove the minimum width */
      padding: 1em; /* Adjust padding as needed */
      border-radius: 10px; /* Adjust border radius as needed */
      overflow-x: auto; /* Hide horizontal overflow */
    }
  
    .date-container {
      flex-direction: row; /* Keep the date inputs in a row */
      justify-content: space-between; /* Distribute the input containers horizontally */
    }
  
    .input-container {
      margin: 0.5rem; /* Reduce the margin around the input containers */
      flex-grow: 1; /* Make the input containers take up available space */
    }
  
    input[type=number] {
      margin: 0.5rem 0; /* Adjust the margin for the number inputs */
      width: calc(100% - 2em); /* Set the width to take up all available space with some padding */
      font-size: 1.2rem; /* Adjust the font size for the input boxes */
    }
  
    .age-calculated-container {
      font-size: 2.5rem; /* Adjust font size as needed */
    }
  
    .age-calculated-container > p > span {
      font-size: 3rem; /* Adjust font size for the spans */
    }
  }


